/* page */

.pagewidth {
    max-width: 2000px;
}

/* nav items */

.size-logo {
    font-size: 1em;   
}

.px-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.ml-16 {
    margin-left: 16px;
}

.size-20 {
    font-size: 1.25rem;
}

.pl-12 {
    padding-left: 12px;
}

.pl-24 {
    padding-left: 24px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pr-24 {
    padding-right: 24px;
}

/* Jumbotron items */

.bg-secondary {
    background-color: lightgrey !important;
}

@media only screen and (min-width: 992px) {
    
    .padding-banner {
        padding: 32px 24px;
    }
    
    .banner-text-box {
        padding-left: 24px;
        padding-right: 128px;
    }
}

.banner-text-size {
    margin-top: 32px;
    font-size: 3rem;
    font-weight: bold;
}



.button {
    width: 100%;
    padding: 8px;
    margin-bottom: 32px;
    background-color: dimgray !important;
    color: white;
    font-size: 1.5rem;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}

.max-wid {
    max-width: 100%;
}

/* left article section items */

.info-title-size {
    font-size: 3rem;
    font-weight: bold;
}

.info-lead-size {
    font-size: 	1.5rem;
}

aside {
    font-size: 	1rem;
}

.info-border {
    border-right: solid lightgray 2px;
}

/* right article section items */

.p-16 {
    padding: 16px;
}

.pt-16 {
    padding-top: 16px;
}

@media only screen and (min-width: 992px) {

    .info-border-bot {
        border-bottom: solid lightgray 2px;
    }

    .width-info {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .bg-secondary-small {
        background-color: lightgrey !important;
    }

}

/* cards */

.card-title {
    font-size: 1.875rem !important;
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem !important;
}

.card-padding {
    padding: 0px 72px 72px 32px;
}

.p-32 {
    padding: 32px;
}

/* responsive cards */

.smallcard {
    padding: 16px 0px 24px 16px;
    margin-bottom: 8px;
    font-size: 2rem;
}

.smallcardlast {
    margin-bottom: 32px;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

/* video section */

@media only screen and (min-width: 992px) {

    .video-pm {
        width: 60%;
        padding: 0 24px 24px 24px;
    }

}

/* video right section */

.pnt {
    padding: 0px 16px 16px 16px;
}

/* footer */

.mx-24 {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 16px;
}

.footer-size {
    font-size: 1rem;
}

/* Reponsive */

@media only screen and (min-width: 992px) {

    .small {
        display: none !important;
    }

}

@media only screen and (max-width: 992px) {

    .smallpic {
        width: 100%;
    }

    .smallinfopadding {
        padding-left: 32px;
        padding-right: 32px;
    }

    .border-small {
        border: solid 2px lightgrey
    }

    .video-pm {
        width: 100%;
        margin-bottom: 24px;
    }
}

